@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to my chanel!";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
<br />

<div class="text-center">
    <a type="button" class="btn btn-secondary" href="MH_DanhSachSanPham">Danh sách sản phẩm!</a>
</div>

