@page
@using QLSP_Entity
@model do_an_oop.Pages.MH_ThemLoaiHangModel
@{
    ViewData["Title"] = "Thêm loại hàng";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
<br />

<div>
    <form method="post">
        <label for="fname">Nhập Mã loại hàng:</label><br>
        <input type="text" name="maloaihang" value="@Model.MaLoaiHang"><br>
        <label for="fname">Nhập Tên loại hàng:</label><br>
        <input type="text" name="tenloaihang" value="@Model.TenLoaiHang"><br>

        <input type="submit" style="background-color: #FFD1DC; color: #000000;" value="Lưu">
        <a href="/MH_DanhSachLoaiHang" class="btn btn-secondary" style="background-color: #FFD1DC; color: #000000;">Quay lại</a>
        <br />
    </form>
</div>

<br />
@Model.ThongBao